@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

.popover {
  height: auto;
}

.item p {
  margin-bottom: 0;
}

.item-button-left, .item-button-right {
  button {
    top: 16px;
  }
}

.loading-container .loading {
  font-size: 25px;
}

.hidden {
  display: none;
}






.item {
  cursor: pointer;
}

#ActionSheetHacker {
  z-index: 999;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: transparent;
}

#FileUploader {
  cursor: pointer;
  opacity:1;
  width:0px;
  height:0px;
  position: absolute;
  z-index: 9999999;
}

.sub_list .list {
  margin-left: 60px;
}

.action-sheet-title {
  font-size: 18px;
  color: #333;
  padding: 15px;
  font-style: italic;
}
