<template name='home'>
  {{#contentFor "headerTitle"}}
    <h1 class="title">Home</h1>
  {{/contentFor}}


  {{#contentFor "headerButtonRight"}}
    <button data-ion-menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}
      <button data-ion-menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    {{/contentFor}}

  {{#showWhenSideMenuOpen}}
    {{#contentFor "headerButtonLeft"}}
    <button data-ion-menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    {{/contentFor}}
  {{/showWhenSideMenuOpen}}

  {{#ionView}}
  {{#ionContent}}
    {{#ionList class="my-class"}}
      {{#each times}}
        {{#ionItem buttonRight=true avatar=true}}
          <img src="https://randomuser.me/api/portraits/thumb/men/27.jpg">
          <h2>John Smith</h2>
          <p>(555) 555-1212</p>
          <button class="button button-positive">
            {{> ionIcon icon="ios-telephone"}}
          </button>
        {{/ionItem}}
      {{/each}}
    {{/ionList}}
  {{/ionContent}}
  {{/ionView}}
</template>
