<template name='user'>
  {{#contentFor "headerTitle"}}
    <h1 class="title">Edit</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    <a class='button button-icon' data-nav-direction="back" href="/users">Back</a>
  {{/contentFor}}

  {{> contentFor region="headerButtonRight" template='_userDoneHeaderButton'}}


  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{>mmInputText label='Username' fieldName='username' value=user.username type='text'}}
        {{>mmInputText label='Password' fieldName='password' value='' type='password'}}
        {{>mmInputText label='First Name' fieldName='firstName' value=user.profile.firstName type='text'}}
        {{>mmInputText label='Last Name' fieldName='lastName' value=user.profile.lastName type='text'}}
        {{>mmInputSelect label='Sex' fieldName='sex' options=sexOptions selected=user.profile.sex}}
        {{>mmInputText label='Birthday' fieldName='birthday' value=user.profile.birthday type='date' placeholder='mm/dd/yyyy'}}
        {{>mmInputToggle label='Receive Invites' fieldName='receiveInvites' value=user.profile.receiveInvites}}
        {{>mmInputToggle label='Receive Newsletter' fieldName='receiveNewsletter' value=user.profile.receiveNewsletter}}
        {{>mmNextPage label='Media' url=mediaUrl snippet='You have 4 pictures and 6 videos.'}}
        {{>mmNextPage label='Bio' snippet='lorem...'}}
      {{/ionList}}
      <div class='card'>
        <div class="item item-divider">
          NOTE
        </div>
        <div class='item item-text-wrap'>
          The password field is so that you can change your password. It is not required to change your information.
        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name='_userDoneHeaderButton'>
  <button class="button button-icon done-button">Done</button>
</template>
